***Introduction: What Are Nested Loops?***

Definition: A nested loop is simply a loop inside another loop. The outer loop runs, and for each of its iterations, the inner loop runs completely.

***PATTREN 1 (n = 5)***
```\
   1 2 3 4 5
1. 1
2. 1 2
3. 1 2 3
4. 1 2 3 4
5. 1 2 3 4 5

In [126]:
n = 5
for rows in range (1,n+1):
    for cols in range(1,rows+1):
        print(cols,end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

***PATTREN 2 (n = 5)***

```\
* * * * *
  * * * *
    * * *
      * *
        *

In [4]:
n = 5
for rows in range(n):
    for spaces in range(rows):
        print(" ",end = " ")
    for cols in range(n-rows):
        print("*",end = " ")
    print()

* * * * *
  * * * *
    * * *
      * *
        *

***PATTREN 3 (n = 5)***

```\
    *
   ***
  *****
 *******
*********

In [19]:
n = 5
for rows in range (1,n+1):
    for spaces in range(n-rows + 1):
        print(" ",end = "")
    for cols in range(2*rows- 1):
        print("*",end = "")
    print()

     *
    ***
   *****
  *******
 *********

***PATTREN 4 (n = 5)***

```\
*********
 *******
  *****
   ***
    *

In [ ]:
n = 5
for rows in range(1,n+1):
    for spaces in range(rows+1):
        print(" ",end = "")
    for cols in range(1,(2*n) -(2*rows)+2):
        print(cols,end = "")
    print()

  123456789
   1234567
    12345
     123
      1

***PATTREN 5 (n = 5)***

```\
    *
   * *
  *   *
 *     *
* * * * *

In [76]:
n = 5
for rows in range(1,n+1):
    for spaces in range(n-rows+1):
        print(" ",end = "")
    for cols in range(1,rows+1):
        if cols == 1 or cols == rows or rows == n:
            print("*",end = " ")
        else:
            print(" ",end = " ")
    print()

     *
    * *
   *   *
  *     *
 * * * * *

***PATTREN 6 (n = 5)***

```\
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [92]:
n = 5 
for rows in range(1,n+1):
    for spaces in range(n-rows):
        print(" ",end = "")
    for cols in range(rows):
        print("*",end = "")
    print()
for rows in range(1,n):
    for spaces in range(rows):
        print(" ",end = "")
    for cols in range(n-rows):
        print("*",end = "")
    print()

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

***PATTREN 7 (n = 5)***

```\
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [103]:
n = 5
for rows in range (1,n+1):
    for spaces in range(n-rows):
        print(" ",end = "")
    for cols in range (2*rows-1):
        print('*',end = "")
    print()
for rows in range (2,n+1):
    for spaces in range(1,rows):
        print(" ",end = "")
    for cols in range (2*n - 2*rows+1):
        print('*',end = "")
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

***PATTREN 8 (n = 5)***

```\
    1
   121
  12321
 1234321
123454321

In [107]:
n = 5
for rows in range (1,n+1):
    for spaces in range(n-rows):
        print(" ",end = "")
    for cols in range (1,2*rows):
        if cols <= rows:
            print(cols,end = "")
        else:
            print(rows - 1 - cols + rows + 1,end = "")
    print()

    1
   121
  12321
 1234321
123454321

***PATTREN 9 (n = 5)***

```\
*               * 
* *           * * 
* * *       * * * 
* * * *   * * * * 
* * * * * * * * * 
* * * *   * * * * 
* * *       * * * 
* *           * * 
*               *

In [123]:
n = 5
total_cols = 2*n-1
for rows in range(1,n+1):
    for cols in range(1,total_cols+1):
        if cols <= rows or cols>total_cols - rows:
            print("*",end = " ")
        else:
            print(" ",end = " ")
    print()
for rows in range(1,n):
    for cols in range(1,total_cols+1):
        if cols <= n - rows or cols > n+rows-1:
            print("*",end = " ")
        else:
            print(" ",end = " ")
    print()

*               *
* *           * *
* * *       * * *
* * * *   * * * *
* * * * * * * * *
* * * *   * * * *
* * *       * * *
* *           * *
*               *