***Lamda Function***

Anonymous Functions (Lambda Functions)
A lambda function is a small anonymous function that is used to perform short tasks
without defining a full function using def.


***What is a Lambda Function?***
A lambda function is a function without a name. It can take any number of arguments but
only has one expression (a single line of code that returns a result).


Syntax of Lambda Function
***lambda arguments: expression***
SYNTAX\
var = lambda arg: expression
var(arg)

In [ ]:
squares = lambda n: n*n         # var = lambda arg: expression
print(squares(5))               # function call var(n)

25

In [3]:
add = lambda a,b : a+b
print(add(4,9))

13

In [5]:
evenorodd = lambda n: "Even" if n%2 == 0 else "Odd"
print(evenorodd(8))

Even

***map,filter,reduse belongs to lambda function***

In [6]:
def sqa(l):
    for i in range(len(l)):
        l[i]**=2
    print(l)
sqa([1,3,4,5])

[1, 9, 16, 25]

In [7]:
# using map and lambda function
'''Syntax'''
# seq = list(map(fun,input().split()))
seq = list(map(lambda i: i*i,[1,2,3,4,6]))
print(seq)

[1, 4, 9, 16, 36]

In [12]:
seq = list(map(lambda i: i.upper(),'python'))
print(''.join(seq))

PYTHON

In [15]:
v='aeiou'
seq = list(map(lambda i: '*' if i in v else i ,'python'))
print(''.join(seq))

pyth*n

In [17]:
data = {'kiran':45, 'shannu': 40}
sorted_data = dict(sorted(data.items(),key = lambda i: i[1]))
print(sorted_data)

{'shannu': 40, 'kiran': 45}

In [ ]:
# Based on value
data = {'kiran':45, 'shannu': 40}
sorted_data = dict(sorted(data.items(),key = lambda i: i[1],reverse = True))
print(sorted_data)

{'kiran': 45, 'shannu': 40}

In [21]:
# Based on key
data = {'kiran':45, 'shannu': 40,'Ajay': 38}
sorted_data = dict(sorted(data.items(),key = lambda i: i[0]))
print(sorted_data)

{'Ajay': 38, 'kiran': 45, 'shannu': 40}

In [24]:
maxnum = lambda a,b: a if a > b else b
print(maxnum(55,6))
print(maxnum(55,68))

55
68

In [26]:
mul = lambda a,b: a*b
print(mul(5,8))
print(mul(50,10))

40
500

In [ ]:

sorted_tuple = sorted([(1,2),(3,1),(5,3)],key = lambda i: i[1]) # can also use reverse index -1 to sort with last element value
print(sorted_tuple)

[(3, 1), (1, 2), (5, 3)]

In [31]:
l = ['kiran','shannu','shole']
sorted_tuple = sorted(l,key = lambda i: i[-2])
print(sorted_tuple)

['kiran', 'shole', 'shannu']

In [32]:
l = [[23,54,68],[56,68,99],[45,66,74]]
sorted_tuple = sorted(l,key = lambda i: i[-1])
print(sorted_tuple)

[[23, 54, 68], [45, 66, 74], [56, 68, 99]]

In [ ]:
# Filter
''' if condition satisfy it return value else it won't return'''

l = [5,8,4,6,8,9,2,]
'''SYNTAX'''
'''var = list(filter(function,input))'''
e = list(filter(lambda i : i%2 == 0,l)) # funtion is lambda and 'l' is input
print(e)

[8, 4, 6, 8, 2]

In [34]:
l = [5,8,0,0,4,6,0,0,0,8,9,0,0,0,2,]
e = list(filter(lambda i : i != 0,l))
print(e)

[5, 8, 4, 6, 8, 9, 2]

In [46]:
data = {
    'redmi':{'Avalilable':True,'Price':18000,'ram':6}, 
    'realme':{'Avalilable':True,'Price':20000,'ram':8}, 
    'oppo':{'Avalilable':False,'Price':25000,'ram':8},
    'apple':{'Avalilable':False,'Price':80000,'ram':4}, 
    'iqoo':{'Avalilable':True,'Price':15000,'ram':12}, 
    'poco':{'Avalilable':True,'Price':12000,'ram':6}, 
    'Xaiomi':{'Avalilable':True,'Price':60000,'ram':12}, 
    'nothing':{'Avalilable':False,'Price':45000,'ram':8}, 
    'samsung':{'Avalilable':False,'Price':100000,'ram':4} 
}
l = list(map(lambda i: data[i]['Avalilable'],data))
f1 = list(filter(lambda i: data[i]['Avalilable'],data))
f2 = list(filter(lambda i: data[i]['Price']<20000,data))
f3 = list(filter(lambda i: data[i]['ram'] == 6,data))
print(l)
print(f1)
print(f2)
print(f3)

[True, True, False, False, True, True, True, False, False]
['redmi', 'realme', 'iqoo', 'poco', 'Xaiomi']
['redmi', 'iqoo', 'poco']
['redmi', 'poco']

In [48]:
l = ['kiran','shannu','shole']
up = list(map(lambda i: i.upper(),l))
print(up)
t = list(map(lambda i: i.title(),l))
print(t)

['KIRAN', 'SHANNU', 'SHOLE']
['Kiran', 'Shannu', 'Shole']