In [31]:
import pandas as pd

product_prices = pd.Series(
[2999, 15999, 52999, 4999, 1999],
index=["Wireless Earbuds", "Smartphone", "Laptop", "Smartwatch", "Bluetooth Speaker"]
)
print(product_prices)

Wireless Earbuds      2999
Smartphone           15999
Laptop               52999
Smartwatch            4999
Bluetooth Speaker     1999
dtype: int64

In [32]:
print(product_prices.mean())

15799.0

In [33]:
print(product_prices.sum())

78995

In [34]:
print(product_prices.min())

1999

In [35]:
print(product_prices.max())

52999

In [36]:
print(product_prices.head(2))

Wireless Earbuds     2999
Smartphone          15999
dtype: int64

In [37]:
print(product_prices.tail(1))

Bluetooth Speaker    1999
dtype: int64

In [38]:
print("Applying (Adding 18% GST):\n ",product_prices.apply(lambda x: f'${x-(x*0.2)}'))
# use for some complex claculations

Applying (Adding 18% GST):
  Wireless Earbuds      $2399.2
Smartphone           $12799.2
Laptop               $42399.2
Smartwatch            $3999.2
Bluetooth Speaker     $1599.2
dtype: object

In [39]:
print("Applying (Adding 18% GST):\n ",product_prices.map(lambda x: f'${x}.00'))
# use for output formatting

Applying (Adding 18% GST):
  Wireless Earbuds      $2999.00
Smartphone           $15999.00
Laptop               $52999.00
Smartwatch            $4999.00
Bluetooth Speaker     $1999.00
dtype: object

In [40]:
print('Sort by values:\n',product_prices.sort_values())

Sort by values:
 Bluetooth Speaker     1999
Wireless Earbuds      2999
Smartwatch            4999
Smartphone           15999
Laptop               52999
dtype: int64

In [41]:
print('Sort by index:\n',product_prices.sort_index())

Sort by index:
 Bluetooth Speaker     1999
Laptop               52999
Smartphone           15999
Smartwatch            4999
Wireless Earbuds      2999
dtype: int64

In [42]:
print('Sort by decending index:\n',product_prices.sort_index(ascending = False))

Sort by decending index:
 Wireless Earbuds      2999
Smartwatch            4999
Smartphone           15999
Laptop               52999
Bluetooth Speaker     1999
dtype: int64

In [43]:
print('Sort by decending values:\n',product_prices.sort_values(ascending = False))

Sort by decending values:
 Laptop               52999
Smartphone           15999
Smartwatch            4999
Wireless Earbuds      2999
Bluetooth Speaker     1999
dtype: int64

In [44]:
print('value Counts:\n',product_prices.value_counts())

value Counts:
 2999     1
15999    1
52999    1
4999     1
1999     1
Name: count, dtype: int64

In [ ]:
data = {
"Product": ["Wireless Earbuds", "Smartphone", "Laptop", "Smartwatch", "Bluetooth Speaker"],
"Brand": ["Boult", "RealMe", "Lenovo", "fastrack", "MI"],
"Price": [2999, 15999, 52999, 4999, 1999],
"Stock": [50, 30, 20, 40, 60]
}
# need to have same length of rows
df = pd.DataFrame(data)
print(df)

             Product     Brand  Price  Stock
0   Wireless Earbuds     Boult   2999     50
1         Smartphone    RealMe  15999     30
2             Laptop    Lenovo  52999     20
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60

In [46]:
print("Shape of DataFrames:\n",df.shape)

Shape of DataFrames:
 (5, 4)

In [47]:
print("Columns of DataFrames:\n",df.columns)

Columns of DataFrames:
 Index(['Product', 'Brand', 'Price', 'Stock'], dtype='object')

In [48]:
print("Index of DataFrames:\n",df.index)

Index of DataFrames:
 RangeIndex(start=0, stop=5, step=1)

In [49]:
print("Information of DataFrame:")
print(df.info())

Information of DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  5 non-null      object
 1   Brand    5 non-null      object
 2   Price    5 non-null      int64
 3   Stock    5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [50]:
print("Statistical Summary:\n",df.describe())

Statistical Summary:
               Price      Stock
count      5.000000   5.000000
mean   15799.000000  40.000000
std    21533.694527  15.811388
min     1999.000000  20.000000
25%     2999.000000  30.000000
50%     4999.000000  40.000000
75%    15999.000000  50.000000
max    52999.000000  60.000000

In [51]:
print("Head of data:\n",df.head(1))
print("Head of data:\n",df.head(3))
print("Head of data:\n",df.head(2))

Head of data:
             Product  Brand  Price  Stock
0  Wireless Earbuds  Boult   2999     50
Head of data:
             Product   Brand  Price  Stock
0  Wireless Earbuds   Boult   2999     50
1        Smartphone  RealMe  15999     30
2            Laptop  Lenovo  52999     20
Head of data:
             Product   Brand  Price  Stock
0  Wireless Earbuds   Boult   2999     50
1        Smartphone  RealMe  15999     30

In [52]:
print("Tail of data:\n",df.tail(1))

Tail of data:
              Product Brand  Price  Stock
4  Bluetooth Speaker    MI   1999     60

In [53]:
print(df)
print(df.loc[1,'Product'])   # Extract Data based on the labels
print(df.loc[2,'Brand'])
print(df.loc[3,'Stock'])


print(df.iloc[1,2])   # Extract Data based on the indexes
print(df.iloc[2,3])
print(df.iloc[4,0])

             Product     Brand  Price  Stock
0   Wireless Earbuds     Boult   2999     50
1         Smartphone    RealMe  15999     30
2             Laptop    Lenovo  52999     20
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60
Smartphone
Lenovo
40
15999
20
Bluetooth Speaker

In [54]:
print('using iloc(selecting 4th row):\n',df.iloc[4])

using iloc(selecting 4th row):
 Product    Bluetooth Speaker
Brand                     MI
Price                   1999
Stock                     60
Name: 4, dtype: object

In [55]:
# Extract multiple rows based on the condition

print('************ using loc for selecting on condition *************\n',df.loc[df['Stock']<40])
print('************ using loc for selecting on condition *************\n',df.loc[df['Price']<10000])
print('************ using loc for selecting on condition *************\n',df.loc[df['Stock']>40])
print('************ using loc for selecting on condition *************\n',df.loc[df['Price']>10000])

************ using loc for selecting on condition *************
       Product   Brand  Price  Stock
1  Smartphone  RealMe  15999     30
2      Laptop  Lenovo  52999     20
************ using loc for selecting on condition *************
              Product     Brand  Price  Stock
0   Wireless Earbuds     Boult   2999     50
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60
************ using loc for selecting on condition *************
              Product  Brand  Price  Stock
0   Wireless Earbuds  Boult   2999     50
4  Bluetooth Speaker     MI   1999     60
************ using loc for selecting on condition *************
       Product   Brand  Price  Stock
1  Smartphone  RealMe  15999     30
2      Laptop  Lenovo  52999     20

In [56]:
# deleting using drop

print("Before drop df:\n",df)
df_dropped = df.drop(columns = ["Stock"]) #  this won't effect the original df
                                          #  inplace = True will effect the orginal df
print("After dropped: \n",df_dropped)
print("after drop:\n",df)

Before drop df:
              Product     Brand  Price  Stock
0   Wireless Earbuds     Boult   2999     50
1         Smartphone    RealMe  15999     30
2             Laptop    Lenovo  52999     20
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60
After dropped:
              Product     Brand  Price
0   Wireless Earbuds     Boult   2999
1         Smartphone    RealMe  15999
2             Laptop    Lenovo  52999
3         Smartwatch  fastrack   4999
4  Bluetooth Speaker        MI   1999
after drop:
              Product     Brand  Price  Stock
0   Wireless Earbuds     Boult   2999     50
1         Smartphone    RealMe  15999     30
2             Laptop    Lenovo  52999     20
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60

In [57]:
df_rename = df.rename(columns={"Price":"Cost"}) # temporary
print("rename :\n",df_rename)
print(df)
df.rename(columns={"Product Name":"Product"},inplace = True) # will change the original data
print(df)

rename :
              Product     Brand   Cost  Stock
0   Wireless Earbuds     Boult   2999     50
1         Smartphone    RealMe  15999     30
2             Laptop    Lenovo  52999     20
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60
             Product     Brand  Price  Stock
0   Wireless Earbuds     Boult   2999     50
1         Smartphone    RealMe  15999     30
2             Laptop    Lenovo  52999     20
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60
             Product     Brand  Price  Stock
0   Wireless Earbuds     Boult   2999     50
1         Smartphone    RealMe  15999     30
2             Laptop    Lenovo  52999     20
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60

In [59]:
# aggrogation = grouping data and analyzing data [how you want to group data]
# grouping means grouping data based on names,price,specification etc 
# groupby

df_grouped = df.groupby("Brand").agg({"Price":"sum","Stock":"sum"})
print(df_grouped)

          Price  Stock
Brand
Boult      2999     50
Lenovo    52999     20
MI         1999     60
RealMe    15999     30
fastrack   4999     40

In [61]:
grouped = df.groupby("Brand").agg({"Price":["mean","max","min"]})
print(grouped)

            Price
             mean    max    min
Brand
Boult      2999.0   2999   2999
Lenovo    52999.0  52999  52999
MI         1999.0   1999   1999
RealMe    15999.0  15999  15999
fastrack   4999.0   4999   4999

In [62]:
grouped = df.groupby("Brand")["Price"].mean()
print(grouped)

Brand
Boult        2999.0
Lenovo      52999.0
MI           1999.0
RealMe      15999.0
fastrack     4999.0
Name: Price, dtype: float64

In [68]:
import pandas as pd
data2 = {
    "Brand": ["Boult", "RealMe", "Lenovo", "fastrack", "MI"],
    "Ratings": [4.2, 4.5, 3.5, 4.0, 5.0],
    "Discount":[20,10,15,25,30]
}
df_ratings = pd.DataFrame(data2)
print(df_ratings)

      Brand  Ratings  Discount
0     Boult      4.2        20
1    RealMe      4.5        10
2    Lenovo      3.5        15
3  fastrack      4.0        25
4        MI      5.0        30

In [69]:
import pandas as pd
df_merged = df.merge(df_ratings, on= "Brand")
print(df_merged)

             Product     Brand  Price  Stock  Ratings  Discount
0   Wireless Earbuds     Boult   2999     50      4.2        20
1         Smartphone    RealMe  15999     30      4.5        10
2             Laptop    Lenovo  52999     20      3.5        15
3         Smartwatch  fastrack   4999     40      4.0        25
4  Bluetooth Speaker        MI   1999     60      5.0        30

In [73]:
new_data = {
    "Product": ["Tablet"],
    "Brand": ["OnePlus"],
    "Price": [12999],
    "Stock": [25],
}
df_new = pd.DataFrame(new_data)
print(df_new)

  Product    Brand  Price  Stock
0  Tablet  OnePlus  12999     25

In [75]:
df_concat = pd.concat([df,df_new],ignore_index = True)
print(df_concat)

             Product     Brand  Price  Stock
0   Wireless Earbuds     Boult   2999     50
1         Smartphone    RealMe  15999     30
2             Laptop    Lenovo  52999     20
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60
5             Tablet   OnePlus  12999     25

In [79]:
print(df['Product'])
print(df['Brand'])
print(df['Price'])
print(df['Stock'])

0     Wireless Earbuds
1           Smartphone
2               Laptop
3           Smartwatch
4    Bluetooth Speaker
Name: Product, dtype: object
0       Boult
1      RealMe
2      Lenovo
3    fastrack
4          MI
Name: Brand, dtype: object
0     2999
1    15999
2    52999
3     4999
4     1999
Name: Price, dtype: int64
0    50
1    30
2    20
3    40
4    60
Name: Stock, dtype: int64

In [80]:
print(df[["Product", "Price","Stock"]])

             Product  Price  Stock
0   Wireless Earbuds   2999     50
1         Smartphone  15999     30
2             Laptop  52999     20
3         Smartwatch   4999     40
4  Bluetooth Speaker   1999     60

In [86]:
df["Price"] = df["Price"].astype(float)
df["Stock"] = df["Stock"].astype(float)

print(df)

             Product     Brand    Price  Stock
0   Wireless Earbuds     Boult   2999.0   50.0
1         Smartphone    RealMe  15999.0   30.0
2             Laptop    Lenovo  52999.0   20.0
3         Smartwatch  fastrack   4999.0   40.0
4  Bluetooth Speaker        MI   1999.0   60.0

In [90]:
df.sort_values(by="Price", ascending=False)
df["Rank"] = df["Stock"].rank(ascending=False)
print(df)
print(df.sort_values(by="Rank", ascending=True))
print(df.sort_values(by="Rank", ascending=False))

             Product     Brand    Price  Stock  Rank
0   Wireless Earbuds     Boult   2999.0   50.0   2.0
1         Smartphone    RealMe  15999.0   30.0   4.0
2             Laptop    Lenovo  52999.0   20.0   5.0
3         Smartwatch  fastrack   4999.0   40.0   3.0
4  Bluetooth Speaker        MI   1999.0   60.0   1.0
             Product     Brand    Price  Stock  Rank
4  Bluetooth Speaker        MI   1999.0   60.0   1.0
0   Wireless Earbuds     Boult   2999.0   50.0   2.0
3         Smartwatch  fastrack   4999.0   40.0   3.0
1         Smartphone    RealMe  15999.0   30.0   4.0
2             Laptop    Lenovo  52999.0   20.0   5.0
             Product     Brand    Price  Stock  Rank
2             Laptop    Lenovo  52999.0   20.0   5.0
1         Smartphone    RealMe  15999.0   30.0   4.0
3         Smartwatch  fastrack   4999.0   40.0   3.0
0   Wireless Earbuds     Boult   2999.0   50.0   2.0
4  Bluetooth Speaker        MI   1999.0   60.0   1.0

In [93]:
import pandas as pd

df1 = pd.DataFrame({
    "ID": [1, 2],
    "Name": ["sri", "sai"],
    "Age": [25, 30]
})

df2 = pd.DataFrame({
    "ID": [3, 4],
    "Name": ["chandra", "kiran"],
    "Age": [28, 35]
})

df_combined = pd.concat([df1, df2], axis=0)  # Combine row-wise
print(df_combined)

   ID     Name  Age
0   1      sri   25
1   2      sai   30
0   3  chandra   28
1   4    kiran   35

In [95]:
df_combined = pd.concat([df1, df2], axis=1)  # Combine column-wise
print(df_combined)

   ID Name  Age  ID     Name  Age
0   1  sri   25   3  chandra   28
1   2  sai   30   4    kiran   35

In [96]:
df.pivot_table(values="Price", index="Brand", columns="Stock", aggfunc="mean")

Stock        20.0     30.0    40.0    50.0    60.0
Brand
Boult         NaN      NaN     NaN  2999.0     NaN
Lenovo    52999.0      NaN     NaN     NaN     NaN
MI            NaN      NaN     NaN     NaN  1999.0
RealMe        NaN  15999.0     NaN     NaN     NaN
fastrack      NaN      NaN  4999.0     NaN     NaN

In [ ]:
pd.crosstab(df['Brand'],df['Stock'])

Stock     20.0  30.0  40.0  50.0  60.0
Brand
Boult        0     0     0     1     0
Lenovo       1     0     0     0     0
MI           0     0     0     0     1
RealMe       0     1     0     0     0
fastrack     0     0     1     0     0