In [58]:
import pandas as pd

product_prices = pd.Series(
[2999, 15999, 52999, 4999, 1999],
index=["Wireless Earbuds", "Smartphone", "Laptop", "Smartwatch", "Bluetooth Speaker"]
)
print(product_prices)

Wireless Earbuds      2999
Smartphone           15999
Laptop               52999
Smartwatch            4999
Bluetooth Speaker     1999
dtype: int64

In [43]:
print(product_prices.mean())

15799.0

In [45]:
print(product_prices.sum())

78995

In [46]:
print(product_prices.min())

1999

In [47]:
print(product_prices.max())

52999

In [48]:
print(product_prices.head(2))

Wireless Earbuds     2999
Smartphone          15999
dtype: int64

In [50]:
print(product_prices.tail(1))

Bluetooth Speaker    1999
dtype: int64

In [2]:
print("Applying (Adding 18% GST):\n ",product_prices.apply(lambda x: f'${x-(x*0.2)}'))
# use for some complex claculations

Applying (Adding 18% GST):
  Wireless Earbuds      $2399.2
Smartphone           $12799.2
Laptop               $42399.2
Smartwatch            $3999.2
Bluetooth Speaker     $1599.2
dtype: object

In [5]:
print("Applying (Adding 18% GST):\n ",product_prices.map(lambda x: f'${x}.00'))
# use for output formatting

Applying (Adding 18% GST):
  Wireless Earbuds      $2999.00
Smartphone           $15999.00
Laptop               $52999.00
Smartwatch            $4999.00
Bluetooth Speaker     $1999.00
dtype: object

In [6]:
print('Sort by values:\n',product_prices.sort_values())

Sort by values:
 Bluetooth Speaker     1999
Wireless Earbuds      2999
Smartwatch            4999
Smartphone           15999
Laptop               52999
dtype: int64

In [7]:
print('Sort by index:\n',product_prices.sort_index())

Sort by index:
 Bluetooth Speaker     1999
Laptop               52999
Smartphone           15999
Smartwatch            4999
Wireless Earbuds      2999
dtype: int64

In [13]:
print('Sort by decending index:\n',product_prices.sort_index(ascending = False))

Sort by decending index:
 Wireless Earbuds      2999
Smartwatch            4999
Smartphone           15999
Laptop               52999
Bluetooth Speaker     1999
dtype: int64

In [12]:
print('Sort by decending values:\n',product_prices.sort_values(ascending = False))

Sort by decending values:
 Laptop               52999
Smartphone           15999
Smartwatch            4999
Wireless Earbuds      2999
Bluetooth Speaker     1999
dtype: int64

In [14]:
print('value Counts:\n',product_prices.value_counts())

value Counts:
 2999     1
15999    1
52999    1
4999     1
1999     1
Name: count, dtype: int64

In [16]:
data = {
"Product": ["Wireless Earbuds", "Smartphone", "Laptop", "Smartwatch", "Bluetooth Speaker"],
"Brand": ["Boult", "RealMe", "Lenovo", "fastrack", "MI"],
"Price": [2999, 15999, 52999, 4999, 1999],
"Stock": [50, 30, 20, 40, 60]
}
# need to have same length of rows
df = pd.DataFrame(data)
print(df)

             Product     Brand  Price  Stock
0   Wireless Earbuds     Boult   2999     50
1         Smartphone    RealMe  15999     30
2             Laptop    Lenovo  52999     20
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60

In [26]:
print("Shape of DataFrames:\n",df.shape)

Shape of DataFrames:
 (5, 4)

In [28]:
print("Columns of DataFrames:\n",df.columns)

Columns of DataFrames:
 Index(['Product', 'Brand', 'Price', 'Stock'], dtype='object')

In [31]:
print("Index of DataFrames:\n",df.index)

Index of DataFrames:
 RangeIndex(start=0, stop=5, step=1)

In [34]:
print("Information of DataFrame:")
print(df.info())

Information of DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Product  5 non-null      object
 1   Brand    5 non-null      object
 2   Price    5 non-null      int64
 3   Stock    5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None

In [36]:
print("Statistical Summary:\n",df.describe())

Statistical Summary:
               Price      Stock
count      5.000000   5.000000
mean   15799.000000  40.000000
std    21533.694527  15.811388
min     1999.000000  20.000000
25%     2999.000000  30.000000
50%     4999.000000  40.000000
75%    15999.000000  50.000000
max    52999.000000  60.000000

In [38]:
print("Head of data:\n",df.head(1))
print("Head of data:\n",df.head(3))
print("Head of data:\n",df.head(2))

Head of data:
             Product  Brand  Price  Stock
0  Wireless Earbuds  Boult   2999     50
Head of data:
             Product   Brand  Price  Stock
0  Wireless Earbuds   Boult   2999     50
1        Smartphone  RealMe  15999     30
2            Laptop  Lenovo  52999     20
Head of data:
             Product   Brand  Price  Stock
0  Wireless Earbuds   Boult   2999     50
1        Smartphone  RealMe  15999     30

In [24]:
print("Tail of data:\n",df.tail(1))

Tail of data:
              Product Brand  Price  Stock
4  Bluetooth Speaker    MI   1999     60

In [42]:
print(df)
print(df.loc[1,'Product'])   # Extract Data based on the labels
print(df.loc[2,'Brand'])
print(df.loc[3,'Stock'])


print(df.iloc[1,2])   # Extract Data based on the indexes
print(df.iloc[2,3])
print(df.iloc[4,0])

             Product     Brand  Price  Stock
0   Wireless Earbuds     Boult   2999     50
1         Smartphone    RealMe  15999     30
2             Laptop    Lenovo  52999     20
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60
Smartphone
Lenovo
40
15999
20
Bluetooth Speaker

In [53]:
print('using iloc(selecting 4th row):\n',df.iloc[4])

using iloc(selecting 4th row):
 Product    Bluetooth Speaker
Brand                     MI
Price                   1999
Stock                     60
Name: 4, dtype: object

In [59]:
# Extract multiple rows based on the condition

print('************ using loc for selecting on condition *************\n',df.loc[df['Stock']<40])
print('************ using loc for selecting on condition *************\n',df.loc[df['Price']<10000])
print('************ using loc for selecting on condition *************\n',df.loc[df['Stock']>40])
print('************ using loc for selecting on condition *************\n',df.loc[df['Price']>10000])

************ using loc for selecting on condition *************
       Product   Brand  Price  Stock
1  Smartphone  RealMe  15999     30
2      Laptop  Lenovo  52999     20
************ using loc for selecting on condition *************
              Product     Brand  Price  Stock
0   Wireless Earbuds     Boult   2999     50
3         Smartwatch  fastrack   4999     40
4  Bluetooth Speaker        MI   1999     60
************ using loc for selecting on condition *************
              Product  Brand  Price  Stock
0   Wireless Earbuds  Boult   2999     50
4  Bluetooth Speaker     MI   1999     60
************ using loc for selecting on condition *************
       Product   Brand  Price  Stock
1  Smartphone  RealMe  15999     30
2      Laptop  Lenovo  52999     20